.marketing-section {
  margin: 6rem auto;
}

.marketing-section header {
  display: flex;
  gap: 2rem;
  align-items: center;
  color: var(--color-primary-50);
}

.marketing-section:last-of-type {
  text-align: right;
}

.marketing-section:last-of-type header {
  justify-content: flex-start;
}

.marketing-section svg {
  font-size: 1.25rem;
}

.analytics-logo {
  height: 3rem;
  width: 3rem;
}

.marketing-section h2 {
  margin: 0;
}

.marketing-content {
  display: flex;
  gap: 2rem;
  margin: 3rem 0;
}

.marketing-image {
  width: 50%;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  padding: 0.5rem;
  background-color: var(--color-primary-100);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateZ(-5deg);
}

.marketing-image:last-child {
  transform: rotateZ(5deg);
}

.marketing-image img {
  width: 100%;
  border-radius: 4px;
}

.marketing-explanation {
  width: 50%;
}
